

.carrinho_txt{
	font-size: 20px;
}

.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
  }
  .my-cart-icon-affix {
    position: fixed;
    z-index: 999;
  }

  .my-cart-btn{
  	margin: 10px;
  	width: 90px;
  	height: 40px;
  }
  .cart_txt{
  	color: red;
  }

  .glyphicon-shopping-cart:before{
    padding-right: 4px;
  }

  .produto {
    padding-bottom: 25px;
  }

  .descricao-produto {
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    padding-top: 2px;
    margin-bottom: 0px;
  }

  .imagem-produto {
    border-radius: 10px;
  }

 /* #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #FF6B00;
  }*/