@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
.contact-form {
  margin-top: 30px;
}

@font-face {
    font-family: 'bariol_regularregular';
    src: url('bariolregular-webfont.woff2') format('woff2'),
         url('bariolregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.contact-form .input-block {
  background-color: rgba(255, 255, 255, 1);
  border: solid 0.5px #00C150;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contact-form .input-block.focus {
  background-color: #fff;
  border: solid 0.5px #00C150;
}
.contact-form .input-block.textarea {
  height: 250px;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.contact-form .input-block label {
  font-family: 'bariol_regularregular';
  text-transform: uppercase;
  position: absolute;
  left: 25px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 800;
  z-index: 1;
  color: #00B448;
  font-size: 23px;
  line-height: 10px;
}
.contact-form .input-block .form-control {
  background-color: transparent;
  padding: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
}
.contact-form .input-block .form-control:focus label {
  top: 0;
}
.contact-form .square-button {
  background-color: rgba(255, 255, 255, 1);
  color: #E23078;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto;
  }
}
/*----page styles---*/
body {
  background-image: url('https://sreanapolis.files.wordpress.com/2010/03/fundo-verde.jpg');
  font-family: 'Roboto', sans-serif;
}

.contact-wrap {
  padding: 15px;
}

.fale {
  font-family: 'Permanent Marker', cursive;
  font-size:50px;
  color: #FFF;
  padding-top: 30px;
  margin: 0 0;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;

  /* Safari */
-webkit-transform: rotate(-3deg);

/* Firefox */
-moz-transform: rotate(-3deg);

/* IE */
-ms-transform: rotate(-3deg);

/* Opera */
-o-transform: rotate(-3deg);
}